absl-py==2.2.2
astunparse==1.6.3
blinker==1.9.0
cachetools==5.5.2
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
dnspython==2.7.0
flatbuffers==23.5.26
Flask==3.1.0
gast==0.4.0
google-auth==2.39.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
grpcio==1.58.0
h5py==3.9.0
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.6
keras==2.15.0
libclang==16.0.6
Markdown==3.4.4
MarkupSafe==3.0.2
ml_dtypes==0.2.0
numpy==1.24.3
oauthlib==3.2.2
opt-einsum==3.3.0
packaging==25.0
pillow==9.5.0
protobuf==4.21.12
pymongo==4.12.0
requests==2.31.0
requests-oauthlib==2.0.0
rsa==4.9.1
six==1.17.0
tensorboard==2.15.1
tensorboard-data-server==0.7.2
tensorflow==2.15.0
tensorflow-io-gcs-filesystem==0.34.0
termcolor==2.3.0
typing_extensions==4.5.0
urllib3==2.4.0
Werkzeug==3.1.3

